html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--bg2);
  font-weight: var(--weight-light);
  font-family: 'Nunito Sans', sans-serif;
  transition: var(--transition) background-color;
}

h1 {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.darkTheme {
  background-color: hsl(207, 26%, 17%);
}

.lightTheme {
  background-color: hsl(0, 0%, 98%);
}
